<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<meta charset="UTF-8">
<title>Modifier un don</title>
</head>
<body>
	<h2>modif don</h2>
	<hr>
	<form action="#" th:action="@{/sauvegarderDon}"
		th:object="${donAAjouterOuModifier}" method="POST">
		<!-- **********NB : Ajout d'un hidden avec l id du don ***************-->
		<input type="text" th:field="*{idDon}" /> 
		<label>Montant: </label> <input type="text" th:field="*{montant}" /> 			
		<br> 		
		<input type="submit" value="Modifier" /> 
		<br> 
		<input type="reset" value="Reset fields">
	</form>
	<a th:href="@{/afficherListeDesDon}">Back to List</a>

</body>
</html>