<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<th:block th:replace="../static/layout_light :: headerfiles"></th:block>
<meta charset="UTF-8">
<title>Recherche</title>
</head>
<body>
	<div th:replace="../static/layout_light :: header"></div>

	<br />
	<br />
	<br />
	<br />
	<br />
	<hr />
	<h1 class="text-center">Recherche multicritères</h1>
	<hr />
	<br />
	<div class="container mt-5 mb-5">
		<form action="#" th:action="@{/rechercherProjetMulticriteres}"
			th:object="${rechercheMultiForm}" method="POST">
			<div class="form-group">
				<div class="row">
					<div class="col-lg-4"></div>
					<div class="col-lg-4">
						<input id="titreP" class="form-control" type="text"
							th:field="*{titre}" placeholder="Titre">
					</div>
					<div class="col-lg-4"></div>
				</div>
				<br /> <br />
				<div class="row">
					<div class="col-lg-2"></div>
					<div class="col-lg-3">
						<div class="dropdown">
							<select class="btn btn-primary" th:id="territoireIdComboBox"
								th:field=*{territoire.idTerritoire}>
								<option value="0">Selection du territoire</option>
								<option th:each="t : ${listTerritoire}"
									th:value="${t.idTerritoire}" th:text="${t.libelle}"></option>
							</select>
						</div>
					</div>
					<div class="col-lg-2"></div>
					<div class="col-lg-3">
						<div>
							<select class="btn btn-primary" th:id="typeProjetIdComboBox"
								th:field=*{typeProjet.idTypeProjet}>
								<option value="0">Selection Type du projet</option>
								<option th:each="tp : ${listTypeProjet}"
									th:value="${tp.idTypeProjet}" th:text="${tp.libelle}"></option>
							</select>
						</div>
					</div>
					<div class="col-lg-2"></div>
				</div>
				<br /> <br /><br/>
				<div class="row">
					<div class="col-lg-2"></div>
					<div class="col-lg-3">
						<input type="checkbox" th:field="*{donTemps}"> <label>
							Don de temps</label>

					</div>
					<div class="col-lg-2"></div>
					<div class="col-lg-3">
						<input type="checkbox" th:field="*{donMateriel}"> <label>
							Don de matériel</label>
					</div>
					<div class="col-lg-2"></div>
				</div>
				<br />
				<br />
				<hr
					style="height: 2px; border-width: 0; color: gray; background-color: gray">
				<div class="row">
					<div class="col-lg-5"></div>
					<div class="col-lg-2">
						<button class="btn btn-primary" type="submit">Rechercher
						</button>
					</div>
					<div class="col-lg-5"></div>
				</div>
			</div>
		</form>
	</div>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<div th:replace="../static/layout_light :: footer"></div>
</body>
</html>