<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<meta charset="UTF-8">
<title>Modifier utilisateur</title>
</head>
<body>
	<fieldset>
		<legend>Modifier mes informations utilisateur </legend>
		<form action="#" th:action="@{/enregistrerUtilisateur}"
			th:object="${utilisateur}" method="POST">
			<div>
				<label>Nom :</label> <input type="text" th:field="*{nom}">
			</div>
			<div>
				<label>Prénom :</label> <input type="text" th:field="*{prenom}">
			</div>
			<div>
				<label>Email :</label> <input type="text" th:field="*{email}">
			</div>
			<div>
				<label>Mot de passe :</label> <input type="password" th:field="*{mdp}">
			</div>
			<button type="submit">Modifier</button>
		</form>
	</fieldset>
</body>
</html>